main {
    min-height: 100vh; /*temp */
    padding: 15vh 0;
    background-color: var(--background);

    & h1 {
        font-family: black-italic;
        font-size: 45px;
        color: var(--text);
    }
}

.Container {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 2rem;
}

.groups-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;

    & a {
        width: 325px;
        height: 325px;
        background-color: var(--secondary-hover);
        color: var(--accent);
        border: 1px var(--accent) solid;
        transition: .2s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &:hover {
            background-color: var(--accent);
            color: var(--text);
            transition: .2s;
        }

        & > h3 {
            text-align: center;
            font-size: 40px;
            font-family: black-italic;
            color: var(--text);
        }
    
        & > p {
            font-size: 25px;
        }
    }
}