main {
    min-height: 100vh; /*temp */
    padding: 15vh 0;
    background-color: var(--background);

    & h1 {
        font-family: black-italic;
        font-size: 45px;
        color: var(--text);
    }
}

.Container {
    width: min(100%, 80rem);
    margin: 0 auto;
    padding: 0 2rem;
}

.schedule-container {
    margin-top: 50px;
}

.day-container {

    padding: 20px 0;

    & h3 {
        font-family: black-italic;
        font-size: 35px;
        color: var(--text);
    }

    & .concerts-container {
        border-left: 4px dotted var(--text);
        margin-left: 40px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .header-concert {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.concert-container {
    list-style: none;
    padding: 1%;
    margin: 0;
    color: var(--text);
    font-family: medium-italic;
    border: 1px solid var(--accent);
    border-left: 10px solid var(--accent);
    user-select: none;

    &:hover {
        cursor: pointer;
    }

    & h4 {
        font-family: black-italic;
        font-size: 30px;
        color: var(--text);
    }
}

.concert-props {

    padding-left: 20px;

    & p {
        font-family: regular;
        font-size: 25px;
        color: var(--text);
    }

    & .date, .lieu {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}
