{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/about.css') }}">
{% endblock %}

{% block content %}
<main>

    <div class="Container">

        <div class="header">
            <a href="{{ url_for('home') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(75, 80, 180, 1);transform: ;msFilter:;"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
            </a>
            <h1>en savoir plus</h1>
        </div>

        <section class="q-r">
            <ul>
                <li class="question">
                    <h3 onclick="toggle_info(1)">qui sommes-nous ?</h3>
                    <p id="1" style="display: none">festiut'o est un festival de musique qui se déroule chaque année dans la ville de Toulouse. Il a pour but de faire découvrir de nouveaux artistes et de faire vivre la musique dans la ville rose.</p>
                </li>
                <li class="question">
                    <h3 onclick="toggle_info(2)">quelles sont les dates du festival ?</h3>
                    <p id="2" style="display: none">17 mai 2024 au 24 mai 2024</p>
                </li>
                <li class="question">
                    <h3 onclick="toggle_info(3)">quelles sont les dates du festival ?</h3>
                    <p id="3" style="display: none">17 mai 2024 au 24 mai 2024</p>
                </li>
                <li class="question">
                    <h3 onclick="toggle_info(4)">quelles sont les dates du festival ?</h3>
                    <p id="4" style="display: none">17 mai 2024 au 24 mai 2024</p>
                </li>
                <li class="question">
                    <h3 onclick="toggle_info(4)">quelles sont les dates du festival ?</h3>
                    <p id="4" style="display: none">17 mai 2024 au 24 mai 2024</p>
                </li>
            </ul>
        </section>
        
    </div>

</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='./js/about.js') }}"></script>
{% endblock %}

