{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/admin.css') }}">
{% endblock %}

{% block content %}
<main>

    <div class="Container">

        <div class="header">
            <a href="{{ url_for('profil') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(75, 80, 180, 1);transform: ;msFilter:;"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
            </a>
            <h1>module administrateur</h1>
        </div>
        <div class="btns-container">
            <div class="btns">
                <a href="{{ url_for('groupe_management') }}">gérer les groupes</a>
                <a href="{{ url_for('artiste_management') }}">gérer les artistes</a>
                <a href="{{ url_for('spectateur_management') }}">gérer les spectateurs</a>
                <a href="{{ url_for('hebergement_management') }}">gérer les hébergements</a>
                <a href="{{ url_for('billet_management') }}">gérer les billets</a>
                <a href="{{ url_for('ajouter_concert') }}">ajouter un concert</a>
                <a href="{{ url_for('ajouter_groupe') }}">ajouter un groupe</a>
            </div>
        </div>

    </div>

</main>
{% endblock %}

