{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/billets.css') }}">
{% endblock %}

{% block content %}
<main>

    <div class="Container">

        <h1>votre panier</h1>

        <div class="billets-container">
            {% for billet in billets %}
            <a href="#" class="billet-card">
                <p>{{ billet.BILLET.dateDebB }}</p>
                <p>{{ billet.BILLET.dateFinB }}</p>
                <p>{{ billet.BILLET.quantite }}</p>

            </a>
            {% endfor %}
        </div>

    </div>

</main>
{% endblock %}

