{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/config_billet.css') }}">
{% endblock %}

{% block content %}
<main>

    <div class="Container">
        <h1>configurez votre billet</h1>

        <div class="config-container">
            <div class="props-billet">
                <h3>selectionnez votre date</h3>
                <form class="form-config-billet" id="form-config-billet" role="form" method="POST" action="{{ url_for('index') }}">
                    {{ BilletForm.hidden_tag() }}
                    {% if id != 3 %}
                    <div class="config">
                        <label for="date_d">date</label>
                        {{ BilletForm.date_d(class="form-control", id="date_d") }}
                    </div>
                    {% endif %}
                    <div class="config">
                        <label for="nom">nom</label>
                        {{ BilletForm.nom(class="form-control", id="nom") }}
                    </div>
                    <div class="config">
                        <label for="prenom">prénom</label>
                        {{ BilletForm.prenom(class="form-control", id="prenom") }}
                    </div>
                    <div class="config">
                        <label for="email">email</label>
                        {{ BilletForm.email(class="form-control", id="email") }}
                    </div>
                    <div class="config">
                        <label for="tel">téléphone</label>
                        {{ BilletForm.tel(class="form-control", id="tel") }}
                    </div>
                </form>
            </div>

            {% if id == 1 %}
            <div class="billet-card">  
                <h3>1 jour</h3>
                <p>accès au festival pour une journée de planning</p>
                <p>20 €</p>
            </div>
            {% endif %}

            {% if id == 2 %}
            <div class="billet-card">
                <h3>2 jours</h3>
                <p>accès au festival pour 2 journées de planning</p>
                <p>35 €</p>
            </div>
            {% endif %}

            {% if id == 3 %}
            <div class="billet-card">
                <h3>illimité</h3>
                <p>accès illimité au festival</p>
                <p>90 €</p>
            </div>
            {% endif %}
        </div>

        <div class="submit-container">
            {{ BilletForm.submit(class="form-control", form="form-config-billet", id="submit-form") }}
        </div>
    </div>
</main> 
{% endblock %}
