{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/config_billet.css') }}">
{% endblock %}

{% block content %}
<main>

    <div class="Container">
        <div class="header">
            <a href="{{ url_for('billeterie') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(75, 80, 180, 1);transform: ;msFilter:;"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
            </a>
            <h1>configurez votre billet</h1>
        </div>

        <div class="config-container" onload="disableCheckboxs()">
            <div class="props-billet">
                <h3>selectionnez votre date</h3>
                <form class="form-config-billet" id="form-config-billet" role="form" method="POST" action="{{ url_for('config_billet',id=id) }}">
                    {{ BilletForm.hidden_tag() }}
                    {% if id != 3 %}
                    <div class="date">
                        <label for="monday" style="color: #e2f3f2; border: 1px solid #e2f3f2;">lundi 13 mai 2024</label>
                        {{ BilletForm.monday(class="form-control day", id="monday", onchange="changeLabelColor(this)") }}
                    </div>
                    <div class="date">
                        <label for="tuesday" style="color: #e2f3f2; border: 1px solid #e2f3f2;">mardi 14 mai 2024</label>
                        {{ BilletForm.tuesday(class="form-control day", id="tuesday", onchange="changeLabelColor(this)") }}
                    </div>
                    <div class="date">
                        <label for="wednesday" style="color: #e2f3f2; border: 1px solid #e2f3f2;">mercredi 15 mai 2024</label>
                        {{ BilletForm.wednesday(class="form-control day", id="wednesday", onchange="changeLabelColor(this)") }}
                    </div>
                    <div class="date">
                        <label for="thursday" style="color: #e2f3f2; border: 1px solid #e2f3f2;">jeudi 16 mai 2024</label>
                        {{ BilletForm.thursday(class="form-control day", id="thursday", onchange="changeLabelColor(this)") }}
                    </div>
                    <div class="date">
                        <label for="friday" style="color: #e2f3f2; border: 1px solid #e2f3f2;">vendredi 17 mai 2024</label>
                        {{ BilletForm.friday(class="form-control day", id="friday", onchange="changeLabelColor(this)") }}
                    </div>
                    <div class="date">
                        <label for="saturday" style="color: #e2f3f2; border: 1px solid #e2f3f2;">samedi 18 mai 2024</label>
                        {{ BilletForm.saturday(class="form-control day", id="saturday", onchange="changeLabelColor(this)") }}
                    </div>
                    <div class="date">
                        <label for="sunday" style="color: #e2f3f2; border: 1px solid #e2f3f2;">dimanche 19 mai 2024</label>
                        {{ BilletForm.sunday(class="form-control day", id="sunday", onchange="changeLabelColor(this)") }}
                    </div>
                    {% endif %}
                    <div class="config">
                        <label for="tel">téléphone</label>
                        {{ BilletForm.tel(class="form-control", id="tel") }}
                    </div>
                </form>
            </div>
            <div class="props-recap">
                {% if id == 1 %}
                <div class="billet-card">  
                    <h3>1 jour</h3>
                    <p>accès au festival pour une journée de planning</p>
                    <p>20 €</p>
                </div>
                {% endif %}

                {% if id == 2 %}
                <div class="billet-card">
                    <h3>2 jours</h3>
                    <p>accès au festival pour 2 journées de planning</p>
                    <p>35 €</p>
                </div>
                {% endif %}

                {% if id == 3 %}
                <div class="billet-card">
                    <h3>illimité</h3>
                    <p>accès illimité au festival</p>
                    <p>90 €</p>
                </div>
                {% endif %}

                <div class="config">
                    <label for="quantite">quantité</label>
                    {{ BilletForm.quantite(size=1, class="form-control", form="form-config-billet", id="quantite") }}
                </div>

                <div id="submit-container">
                    {{ BilletForm.submit(class="form-control", form="form-config-billet", id="submit-form") }}
                </div>
            </div>
        </div>
        <div id="error-container">
            <p id="error">{{ error }}</p>
        </div>
    </div>
</main> 
{% endblock %}
{% block scripts %}
<script>
    function changeLabelColor(element) {
        var checkbox = element;
        var label = element.previousElementSibling;
        if (checkbox.checked) {
            label.style.color = '#4b50b4';
            label.style.border = '1px solid #4b50b4';
            label.style.transition = 'all 0.2s ease-in-out';
        } else {
            label.style.color = '#e2f3f2'; 
            label.style.border = '1px solid #e2f3f2';
            label.style.transition = 'all 0.2s ease-in-out';
        }
    }

    var checkboxs = document.querySelectorAll('.day');
    for (var i = 0; i < checkboxs.length; i++) {
        checkboxs[i].checked = false;
    }

</script>
{% endblock %}
