{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/favoris.css') }}">
{% endblock %}

{% block content %}
<main>

    <div class="Container">

        <h1>vos favoris</h1>

        <div class="groups-container">
            {% for favori in favoris %}
            <a href="{{ url_for('groupe',id=favori.GROUPE.idG) }}" class="group-card">
                <h3>{{ favori.GROUPE.nomG }}</h3>
            </a>
            {% endfor %}
        </div>

    </div>

</main>
{% endblock %}

