{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/groupe.css') }}">
{% endblock %}

{% block content %}
<main>

    <div class="Container">
        <h1>{{ groupe.GROUPE.nomG }}</h1>

        <div class="group-container">
            <div class="artists-container">
                {% for artiste in artistes %}
                <p>{{ artiste.nomA }} {{ artiste.prenomA }}</p>
                {% endfor %}
            </div>
            <div class="group-assets">
                <p>{{ groupe.GROUPE.descriptionG }}</p>
                <p>style musical : {{ groupe.STYLEMUSICAL.nomS }}</p>
            </div>
            <h3>où les voir ?</h3>
            <div class="all-concert-container">
                {% for concert in concerts_associated %}
                <div class="concert-props" id="{{ concert.CONCERT.idC }}">
                    <div class="date">
                        <p>{{ concert.CONCERT.dateDebC.strftime('%d %m %Y') }}</p>
                        <div>
                            <p>{{ concert.CONCERT.dateDebC.strftime('%H:%M') }}</p>
                            <p>-</p>
                            <p>{{ concert.CONCERT.dateFinC.strftime('%H:%M') }}</p>
                        </div>
                    </div>
                    <p>{{ concert.LIEU.adresseL }}</p>
                    <p>{{ concert.LIEU.nomL }}</p>    
                </div>
                {% endfor %}
            </div>
            
            <h3>dans le même style que {{ groupe.GROUPE.nomG }}</h3>
            <div class="related-group">
                {% for groupe_related in groupes_related %}
                <a href="{{ url_for('groupe',id=groupe_related.idG) }}" class="other-group-card">
                    <p>{{ groupe_related.nomG }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
