{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='./css/module_administrateur/concert_management.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="Container">
        
        <div class="header">
            <a href="{{ url_for('admin') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(75, 80, 180, 1);transform: ;msFilter:;"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
            </a>
            <h1>sélectionnez un groupe</h1>
        </div>

        <form action="{{ url_for('concert_management') }}" method="POST" role="search">
            {{ RechercheForm.hidden_tag() }}
            {{ RechercheForm.search(size=50, type="text", placeholder="groupe") }}
            {{ RechercheForm.submit(type="submit") }}
        </form>

        <p id="resultats">{{ nb_resultat }} résultats</p>

        <div class="groupes-container">
            {% for groupe in groupes %}
            <div class="groupe-card">
                <h3>{{ groupe.nomG }}</h3>
                <div class="add-props">
                    <a href="{{ url_for('modifier_groupe_activites',id=groupe.idG) }}">
                        <p>activites</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(75, 80, 180, 1);transform: ;msFilter:;"><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path></svg>
                    </a>
                    <a href="{{ url_for('modifier_groupe_concert',id=groupe.idG) }}">
                        <p>concert</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(75, 80, 180, 1);transform: ;msFilter:;"><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path></svg>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}

